* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Outfit;
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
  font-family: Young;
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
body {
  position: relative;
  background-color: var(--color-background);
}
a {
  text-decoration: none;
}
main {
  max-width: 375px;
  width: 100%;
  margin: auto;
  font-family: Outfit, sans-serif;
  background-color: var(--color-background-main);
  font-size: 0.9rem;
}
.hero {
  width: 100%;
}
.paragraph {
  padding-inline-start: 25px;
  padding-right: 35px;
  font-size: 1rem;
  line-height: 1.4rem;
  color: var(--color-text);
}
.title {
  font-size: 2.35rem;
  padding: 20px 30px;
  font-weight: 580;
  font-family: Young;
}
strong {
  color: var(--color-strong);
}
ul,
ol {
  padding-inline-start: 10px;
}
section,
aside {
  margin: 35px 31px;
  font-family: Outfit, sans-serif;
}
h2 {
  margin-bottom: 15px;
  color: var(--color-primary);
  font-family: Young;
}
li {
  margin-left: 15px;
  padding-inline-start: 10px;
  line-height: 1.3rem;
  margin-bottom: 7px;
  color: var(--color-text);
}

.preparation {
  background-color: var(--color-pink);
  margin: 20px 25px;
  padding: 33px;
}
.preparation h2 {
  color: var(--color-subText);
  font-family: Outfit, sans-serif;
}
.preparation li + li {
  line-height: 2.2rem;
}
.ingredients,
.instructions {
  border-bottom: 1px solid var(--color-pink);
}
.ingredients li {
  line-height: 2.1rem;
}
table {
  margin-top: 15px;
  width: 100%;
  padding: 0px 20px;
}
tr:not(:last-child) {
  border-bottom: 1px solid var(--color-pink);
}
td,
th {
  padding: 8px;
  text-align: left;
}
th {
  font-weight: 500;
}
td {
  color: var(--color-primary);
  font-weight: 700;
}

@media (min-width: 600px) {
  th {
    padding-right: 85px;
  }
  main {
    min-width: 710px;
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 15px;
    height: auto;
  }
  img {
    border-radius: 15px;
  }
  table {
    border-collapse: collapse;
  }
  th,
  td {
    width: 50%;
  }
}
